<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section class="top_banner">
  <div class="container">
    <div class="inner_top_sec">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-4 text-right">
          <div class="project_img"><img src="assets/projects.png"></div>
        </div>
        <div class="col-md-8 text-center">
          <h1>Our environmental projects are providing many environmental benefits around the worlds.</h1>
        </div>     
      </div>
    </div>
  </div>
</section>

<section class="bottom_listing">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="inner_project_listing">
          <div class="project_image">
            <figure class="thumbnail"><img class="img-fluid" src="assets/Tile_Image.jpg"></figure>
            <div class="overlay_img">
              <div class="product_title">
                <a href="#">Kariba Redd+ - Zimbabwe</a>
              </div>
              <div class="buy_now_btn">
                <a href="#" class="by_now btns" (click)="share()">Buy Now</a>
              </div>
              <div class="price_dollars">
                $7.50 / ton
              </div>
            </div>
          </div>
          <div class="product_inner_content">
            <h4>Reduced Emissions from Deforestation and Degradation</h4>
            <div class="offset_area">957,842 lbs. offset</div>
            <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inner_project_listing">
          <div class="project_image">
            <figure class="thumbnail"><img class="img-fluid" src="assets/Tile_Image.jpg"></figure>
            <div class="overlay_img">
              <div class="product_title">
                <a href="#">Arcata Sunnybrae Tract -USA</a>
              </div>
            </div>
          </div>
          <div class="product_inner_content">
            <h4>Improved Forest Management</h4>
            <div class="offset_area">710,093 lbs. offset</div>
            <p>Preservation of large tracts of coastal Redwood and Douglas fir that were slated for harvesting by the timber company.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inner_project_listing">
          <div class="project_image">
            <figure class="thumbnail"><img class="img-fluid" src="assets/Tile_Image.jpg"></figure>
            <div class="overlay_img">
              <div class="product_title">
                <a href="#">Wolf Greek Landfill - USA</a>
              </div>
            </div>
          </div>
          <div class="product_inner_content">
            <h4>Landfill Methane Gas Capture</h4>
            <div class="offset_area">2,005,214 lbs. offset</div>
            <p>Landfill Methane gas-to-energy facility that provides significant environmental benefits to the surrounding area.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inner_project_listing">
          <div class="project_image">
            <figure class="thumbnail"><img class="img-fluid" src="assets/Tile_Image.jpg"></figure>
            <div class="overlay_img">
              <div class="product_title">
                <a href="#">Terrapass mixed portfolio - Mixed</a>
              </div>
            </div>
          </div>
          <div class="product_inner_content">
            <h4>Mixed</h4>
            <div class="offset_area">241,967 lbs. offset</div>
            <p>Greenhouse gas reductions made at a verity of projects, including: reforestation, methane capture, and renewable energy.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inner_project_listing">
          <div class="project_image">
            <figure class="thumbnail"><img class="img-fluid" src="assets/Tile_Image.jpg"></figure>
            <div class="overlay_img">
              <div class="product_title">
                <a href="#">Gaston County Landfill - USA</a>
              </div>
            </div>
          </div>
          <div class="product_inner_content">
            <h4>Landfill Methane Gas Capture</h4>
            <div class="offset_area">721,663 lbs. offset</div>
            <p>Voluntary collection and destruction of landfill methane in two open flares and three internal combustion engine generators.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inner_project_listing">
          <div class="project_image">
            <figure class="thumbnail"><img class="img-fluid" src="assets/Tile_Image.jpg"></figure>
            <div class="overlay_img">
              <div class="product_title">
                <a href="#">Myamyn Conservation - Australia</a>
              </div>
              <div class="buy_now_btn">
                <a href="#" class="by_now btns" (click)="share()">Buy Now</a>
              </div>
              <div class="price_dollars">
                $7.50 / ton
              </div>
            </div>
          </div>
          <div class="product_inner_content">
            <h4>Reforestation & Hyrdopower</h4>
            <div class="offset_area">995,908 lbs. offset</div>
            <p>Supporting biodiversity and reforestration in Victoria, Australia; along with carbon reduction from a hydropwer plant in Vietnam.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inner_project_listing">
          <div class="project_image">
            <figure class="thumbnail"><img class="img-fluid" src="assets/Tile_Image.jpg"></figure>
            <div class="overlay_img">
              <div class="product_title">
                <a href="#">Natural Pact Land Art - Costa Rica</a>
              </div>
            </div>
          </div>
          <div class="product_inner_content">
            <h4>Reforestation through Land Art </h4>
            <div class="offset_area">327 lbs. offset</div>
            <p>Unique "land art" reforestation and conservation of forests that extend an important biological corridor for many endangered species.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inner_project_listing">
          <div class="project_image">
            <figure class="thumbnail"><img class="img-fluid" src="assets/Tile_Image.jpg"></figure>
            <div class="overlay_img">
              <div class="product_title">
                <a href="#">Nature Lab Urban Forestry - Canada</a>
              </div>
              <div class="buy_now_btn">
                <a href="#" class="by_now btns" (click)="share()">Buy Now</a>
              </div>
              <div class="price_dollars">
                $22.50 / ton
              </div>
            </div>
          </div>
          <div class="product_inner_content">
            <h4>Urban Reforestation</h4>
            <div class="offset_area">13,033 lbs. offset</div>
            <p>Rehabilitating degraded urban and sub-urban areas through reforestation, adding significant greenery and restoring biodiversity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Toolbar -->
<router-outlet></router-outlet>