/* You can add global styles to this file, and also import other style files */

$font_family_1: 'Raleway', sans-serif;
$body_background: #eeeeee;
$color_1: #fff;
$color_2: #cf4372;
$color_3: #333;
$color_4: #0bb143;

body {
	font-family: $font_family_1;
	background: $body_background;
}
.inner_top_sec {
	background: #c2f5aa;
	border-radius: 12px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
	h1 {
		font-size: 26px;
		font-weight: 600;
		line-height: 36px;
		margin: 0px;
	}
}
section.top_banner {
	margin-top: 30px;
}
section.bottom_listing {
	margin-top: 20px;
}
.inner_project_listing {
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
	background: #fff;
	margin-bottom: 30px;
	&:hover {
		.thumbnail {
			img {
				transform: scale(1.2);
				transition: all 0.5s ease-in-out 0s;
			}
		}
	}
	.thumbnail {
		img {
			transform: scale(1);
			transition: all 0.5s ease-in-out 0s;
		}
	}
}
.project_image {
	position: relative;
	figure {
		margin: 0;
		overflow: hidden;
	}
}
.overlay_img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.product_title {
	position: absolute;
	bottom: 20px;
	width: auto;
	background: rgba(0,0,0,0.5);
	color: $color_1;
	text-transform: uppercase;
	font-weight: 600;
	left: 10px;
	a {
		color: $color_1;
		padding: 8px 15px;
		display: inline-block;
		font-size: 20px;
		text-decoration: none;
		transition: all 0.5s ease-in-out 0s;
		border-radius: 4px;
		&:hover {
			background: #0b8d37;
			color: $color_1;
		}
	}
}
.buy_now_btn {
	position: absolute;
	top: 20px;
	right: 10px;
	a {
		background: #0b8d37;
		color: $color_1;
		font-size: 20px;
		transition: all 0.5s ease-in-out 0s;
		padding: 15px 30px;
		border-radius: 4px;
		font-weight: 600;
		text-decoration: none;
		&:hover {
			background: #07732b;
			color: $color_1;
		}
	}
}
.price_dollars {
	position: absolute;
	top: 68px;
	right: 26px;
	background: rgba(0, 0, 0, 0.7);
	padding: 6px 12px;
	border-radius: 4px;
	color: $color_1;
	font-weight: bold;
}
.product_inner_content {
	padding: 20px;
	h4 {
		color: $color_2;
		font-size: 18px;
		font-weight: 600;
	}
	p {
		font-size: 16px;
		font-weight: 600;
		color: $color_3;
		margin: 0px;
	}
}
.offset_area {
	font-size: 17px;
	font-weight: 600;
	color: $color_4;
	margin-bottom: 10px;
}



@media (min-width: 992px) and (max-width: 1199px) {

.inner_top_sec h1 {
    font-size: 22px;
    line-height: 34px;
}
.inner_project_listing .thumbnail img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}
.product_inner_content h4 {
    font-size: 15px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
.inner_project_listing .thumbnail img {
    height: 160px;
    width: 100%;
    object-fit: cover;
}
.product_title a {
    padding: 5px 10px;
    font-size: 14px;
}
.buy_now_btn a {
    font-size: 15px;
    padding: 10px 20px;
}
.price_dollars {
    position: absolute;
    top: 58px;
    right: 17px;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.product_inner_content h4 {
    font-size: 15px;
    min-height: 36px;
}
.product_inner_content p {
    font-size: 13px;
}
.inner_top_sec h1 {
    font-size: 18px;
    line-height: 30px;
}







}

@media (max-width: 767px) {
.inner_top_sec .col-md-4.text-right {
    text-align: center !important;
}
.inner_top_sec h1 {
    font-size: 17px;
    line-height: 26px;
    margin: 30px 0px;
    padding: 0 20px;
}
.product_inner_content h4 {
    font-size: 15px;
}
.product_inner_content p {
    font-size: 14px;
}
.offset_area {
    font-size: 14px;
}
.product_title a {
	font-size: 13px;
}
.buy_now_btn a {
    font-size: 13px;
    padding: 10px 14px;
}
.price_dollars {
    position: absolute;
    top: 54px;
    right: 13px;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.inner_project_listing .thumbnail img {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

}